@use 'variables' as *;
@use 'mixins' as *;



.container {
    max-width: $container-width + ($container-padding * 2);
    width: 100%;
    margin: 0 auto;
    padding: 0 $container-padding;
}

.text-accent {
    color: $color-secondary;
}

//Заголовки секций
.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.subtitle {
    font-size: 20px;

    @include tab-768 {
        font-size: 18px;
    }

    @include mobile {
        font-size: 16px;
    }
}


//Карточки классов

.card-class {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 14px;

    &__img {
        position: relative;
        border-radius: $radius-large;
        overflow: hidden;
    }

    &__content {
        padding: 0 4px;
    }

    &__title {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 4px;
    }

    &__text {
        font-size: 16px;
        line-height: 1.4;
        color: $color-gray;
    }

    &__tag {
        position: absolute;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 4px 10px;
        border-radius: $radius-large;
        font-size: 16px;
        pointer-events: none;
        z-index: 2;
        bottom: 10px;
        left: 10px;

        &--personally {
            background-color: #A78BFB;
            color: $color-white;
        }
    }
}



//Слайдер
.swiper-lazy-preloader {
    --swiper-preloader-color: #E5E2E1;
    width: 20px;
    height: 20px;
    border-width: 2px;
}

.custom-slider {
    position: relative;
    width: 100%;

    &__nav {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        z-index: 2;

        display: flex;
        justify-content: space-between;
        align-items: center;

        pointer-events: none;

        &-prev,
        &-next {
            position: relative;
            top: auto !important;
            margin: 0;
            pointer-events: auto;
        }

        &-prev {
            margin-left: -90px;
        }

        &-next {
            margin-right: -90px;
        }
    }

    &__pagination {
        width: 100%;
        position: relative;
        bottom: 0px !important;
        margin-top: 40px !important;

        >.swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            opacity: 1;
            cursor: pointer;
            transition: all $transition-base;

            background-color: #E4DFD9;

            &:hover {
                background-color: $color-secondary;
            }

            &-active {
                background-color: $color-secondary;
            }
        }
    }
}