@use 'variables' as *;
@use 'mixins' as *;

.is-open {
    display: flex !important;
}

body.lock {
    overflow: hidden !important;
}

.container {
    max-width: $container-width + ($container-padding * 2);
    width: 100%;
    margin: 0 auto;
    padding: 0 $container-padding;

    @include tab-1024 {
        padding: 0 40px;
    }

    @include tab-768 {
        padding: 0 20px;
    }
}

.text-accent {
    color: $color-secondary;
}

.text-opacity-70 {
    opacity: 0.7;
}

//Заголовки секций
.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.subtitle {
    font-size: 20px;

    @include tab-768 {
        font-size: 18px;
    }

    @include mobile {
        font-size: 16px;
    }
}

.flag-img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid $color-border;
}


//Карточки классов

.card-class {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-decoration: none;
    color: inherit;

    &:hover {
        .card-class__img img {
            transform: scale(1.05);
        }

        .card-class__title {
            color: $color-secondary;
        }

        .card-class__text {
            color: $color-secondary;
        }
    }

    &__img {
        position: relative;
        border-radius: $radius-large;
        overflow: hidden;
        height: 238px;
        background-color: #f8f8f8;

        @include mobile {
            border-radius: $radius-medium;
            height: auto;
        }

        img {
            // display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform $transition-base;
            // z-index: 20 !important;
        }

    }

    &__content {
        padding: 0 4px;
    }

    &__title {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 4px;
        color: $color-dark;
        transition: color $transition-base;

        @include mobile {
            font-size: 18px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.4;
        color: $color-gray;
        transition: color $transition-base;

        @include mobile {
            font-size: 14px;
        }
    }

    &__tag-wrapper {
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 2;
        display: flex;
        flex-direction: row;
        gap: 4px;
        z-index: 2;
    }

    &__tag {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 4px 10px;
        border-radius: $radius-large;
        font-size: 16px;
        pointer-events: none;
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.15);

        @include mobile {
            font-size: 14px;
            padding: 3px 8px;
        }

        &--personally {
            background-color: #A78BFB;
            color: $color-white;
        }

        &--special {
            background-color: #69C983;
            color: $color-white;
        }
    }
}

//--Карточки классов


//Слайдер
.swiper-lazy-preloader {
    --swiper-preloader-color: #E5E2E1;
    // --swiper-preloader-color: #00f84a;
    // width: 20px;
    // height: 20px;
    border-width: 2px;
    pointer-events: none;
    z-index: 0 !important;
}

.custom-slider {
    position: relative;
    width: 100%;

    &__swiper {
        overflow: hidden;

        @include tab-1024 {
            overflow: visible;
        }
    }


    &__nav {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        z-index: 2;

        display: flex;
        justify-content: space-between;
        align-items: center;

        pointer-events: none;

        @include tab-1024 {
            display: none;
        }

        &-prev,
        &-next {
            position: relative;
            top: auto !important;
            margin: 0;
            pointer-events: auto;

            &.swiper-button-lock {
                display: none;
            }
        }

        &-prev {
            margin-left: -90px;
        }

        &-next {
            margin-right: -90px;
        }
    }

    &__pagination {
        z-index: 1 !important;

        &.swiper-pagination-lock {
            display: none !important;
        }

        width: 100%;
        position: relative;
        bottom: 0px !important;
        margin-top: 40px !important;

        @include tab-1024 {
            margin-top: 30px !important;
        }

        @include mobile {
            margin-top: 20px !important;
        }

        >.swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            opacity: 1;
            cursor: pointer;
            transition: all $transition-base;

            background-color: #E4DFD9;

            &:hover {
                background-color: $color-secondary;
            }

            &-active {
                background-color: $color-secondary;
            }
        }
    }
}

//--Слайдер

//Фильтр
.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;

    @include mobile-lg {
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 0 $container-padding;
        margin: 0 (-$container-padding);
        scroll-padding: 0 $container-padding;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }

    &__item {
        @include tab-768 {
            scroll-snap-align: start;
        }
    }

    &__btn {
        padding: 16px 22px;
        border-radius: $radius-large;
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
        cursor: pointer;
        transition:
            border-color $transition-base,
            color $transition-base,
            background-color $transition-base;
        border: 1px solid $color-border;
        background-color: $color-white;
        color: $color-dark;
        white-space: nowrap;

        @include hover {
            border-color: $color-secondary;
            color: $color-secondary;
        }


        &--active {
            border-color: $color-secondary;
            background-color: $color-secondary;
            color: $color-white;
            pointer-events: none;
        }

        @include tab-768 {
            padding: 12px 16px;
            font-size: 16px;
        }

        @include mobile {
            padding: 10px 14px;
            font-size: 16px;
        }
    }
}

//--Фильтр