@use '../base/variables' as *;
@use '../base/mixins' as *;


.banner-small-certificate {
    position: relative;
    padding: 30px;
    background-color: $color-primary;
    border-radius: $radius-large;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    overflow: hidden;

    @include tab-768 {
        gap: 10px;
    }

    &__title {
        font-size: 40px;
        font-weight: 500;
        line-height: 1.2;
        color: $color-white;

        @include tab-1024 {
            font-size: 30px;
        }

        @include tab-768 {
            font-size: 26px;
        }

        @include mobile-lg {
            text-align: center;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        gap: 20px;

        @include tab-1024 {
            flex-direction: column;
        }

        @include tab-1024 {
            gap: 0px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include mobile-lg {
            gap: 30px;
        }
    }

    &__description {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4;
        color: $color-white;

        @include tab-768 {
            font-size: 16px;
        }

        @include mobile-lg {
            text-align: center;
        }
    }

    &__btn {
        align-self: self-start;

        @include mobile-lg {
            align-self: center;
        }

        @include mobile {
            width: 100%;
        }
    }

    &__img {
        align-self: self-end;
        width: 324px;
        height: auto;
        margin-right: -100px;
        margin-bottom: -50px;

        @include tab-1024 {
            margin-right: -100px;
            margin-bottom: -80px;
            margin-top: -70px;
        }

        @include tab-768 {
            margin-right: -120px;
            // margin-bottom: -90px;
            width: 260px;
        }

        @include mobile-lg {
            margin: 20px auto -30px auto;
            align-self: center;
        }

    }
}