@use '../base/variables' as *;
@use '../base/mixins' as *;

.banner-promo {

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        // height: 500px; //временно
        // gap: 20px;

        background-color: $color-primary;
        border-radius: $radius-xlarge;
        padding: 0 20px 0 80px;
        overflow: hidden;

        @include tab-1024 {
            padding: 0 0 0 80px;
        }

        @include tab-768 {
            flex-direction: column;
            padding: 0 50px;
            align-items: center;
        }

        @include mobile {
            padding: 0 20px;
        }


        &::before {
            position: absolute;
            content: '';
            background-image: url('/assets/img/common/banner-bg-left.svg');
            // background-size: cover;
            background-position: left center;
            background-repeat: no-repeat;
            top: 0;
            left: 0;
            z-index: 0;
            width: 200px;
            height: 100%;

            @include tab-768 {
                display: none;
            }
        }
    }

    &__content {
        flex: 1 0 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        padding: 50px 0;
        z-index: 1;
        // width: clamp(300px, 50%, 500px);
        width: 100%;

        @include tab-768 {
            flex: 1 0 100%;
            align-items: center;
            width: 100%;
            text-align: center;
            padding: 50px 0 10px 0;
        }

        @include mobile {
            padding: 30px 0 20px 0;
            gap: 10px;
        }


    }

    &__badge {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 10px;
        border: 1px solid rgba($color-white, 0.08);
        border-radius: $radius-large;
        backdrop-filter: blur(10px);
        background-color: rgba($color-white, 0.04);
        margin-bottom: -10px;

        font-size: 16px;
        font-weight: 700;
        color: $color-white;
        white-space: nowrap;
        line-height: 1.4;

        @include mobile {
            font-size: 13px;
            text-transform: uppercase;
            margin-bottom: 10px;
            letter-spacing: 1px;
        }
    }

    &__title {
        font-size: clamp(34px, 3vw, 46px);
        // font-size: 46px;
        font-weight: 500;
        color: $color-white;
        line-height: 1.2;

        @include mobile {
            font-size: 26px;
        }
    }

    &__text {
        font-size: 20px;
        font-weight: 400;
        color: $color-white;
        line-height: 1.4;
        color: $color-white;
        margin-bottom: 20px;

        @include tab-1024 {
            font-size: 18px;
        }

        @include mobile-lg {
            font-size: 16px;
            margin-bottom: 10px;
        }
    }

    &__img {
        align-self: end;
        flex-shrink: 2;
        width: auto;
        height: auto;
        object-fit: cover;
        object-position: right bottom;

        @include tab-1024 {
            margin-right: -40px;
        }

        @include tab-768 {
            margin: 0 auto;
        }
    }

}