@use '../base/variables' as *;
@use '../base/mixins' as *;

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px 28px;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    border-radius: $radius-large;
    transition:
        background-color $transition-base,
        border-color $transition-base,
        transform $transition-base,
        color $transition-base;

    cursor: pointer;
    border: 1px solid transparent;
    gap: 10px;
    white-space: nowrap;
    height: 56px;
    // flex-grow: 1;

    @include tab-768 {
        padding: 10px 20px;
        height: 50px;
    }

    svg {
        fill: currentColor;
        flex-shrink: 0;
    }

    &:active {
        transform: scale(0.95);
    }

    &--primary {
        background-color: $color-primary;
        color: $color-white;

        @include hover {
            background-color: $color-secondary;
            color: $color-white;
        }
    }

    &--secondary {
        background-color: $color-white;
        color: $color-dark;

        @include hover {
            background-color: $color-bg-light;
            color: $color-secondary;
        }
    }

    &--outline {
        background-color: transparent;
        border: 2px solid rgba($color-border, 0.6);
        color: $color-dark;

        @include hover {
            color: $color-secondary;
            border-color: rgba($color-secondary, 0.3);
        }
    }
}

.slider-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:
        background-color $transition-base,
        color $transition-base,
        border-color $transition-base,
        transform $transition-base;


    &:active {
        transform: scale(0.95);
    }

    svg {
        width: 14px;
        height: 14px;
    }

    &--outline {
        background-color: $color-white;
        color: #6C5752;
        border: 1px solid #A6918C;

        @include hover {
            border-color: $color-secondary;
            color: $color-secondary;
        }

    }

    &--fill {
        background-color: $color-primary;
        color: $color-white;

        @include hover {
            background-color: $color-secondary;
            color: $color-white;
        }
    }

}

.btn-map {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid rgba($color-dark, 0.06);
    border-radius: $radius-medium;
    padding: 8px;
    color: $color-primary;
    transition:
        background-color $transition-base,
        border-color $transition-base,
        color $transition-base,
        transform $transition-base;

    &:active {
        transform: scale(0.95);
    }


    svg {
        width: auto;
        max-width: 70px;
        height: 20px;
    }

    @include hover {
        border-color: rgba(#DEA293, 0.5);
        color: $color-secondary;
    }
}

.btn-price {

    display: flex;
    justify-content: center;
    color: $color-white;
    padding: 10px 20px;
    border-radius: $radius-medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    background-color: $color-primary;
    transition:
        background-color $transition-base,
        border-color $transition-base,
        color $transition-base,
        transform $transition-base;

    &:active {
        transform: scale(0.95);
    }

    &:hover {
        background-color: darken($color-primary, 10%);
    }

    &--first-visit {
        background-color: $color-secondary;

        &:hover {
            background-color: darken($color-secondary, 10%);
        }
    }

    @include mobile-lg {
        padding: 6px 13px;
        font-size: 14px;
    }

}

.btn-video-play {
    display: flex;
    align-items: center;
    padding: 5px 14px 5px 5px;
    gap: 6px;
    border-radius: $radius-xlarge;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    background-color: $color-white;
    color: $color-dark;
    white-space: nowrap;
    cursor: pointer;
    transition:
        background-color $transition-base,
        color $transition-base,
        transform $transition-base;

    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);

    &:active {
        transform: scale(0.95);
    }

    &:hover {
        color: $color-secondary;

        .btn-video-play__icon {
            background-color: $color-secondary;
        }
    }

    &__icon {
        flex-shrink: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $color-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-white;
        transition:
            background-color $transition-base,
            color $transition-base;

        & svg {
            width: 10px;
            height: 10px;
        }
    }
}

.mobile-sticky-footer {
    display: none; // Скрыта везде по умолчанию

    @include mobile {
        display: block;
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 15px 30px;
        background: transparent;
        // backdrop-filter: blur(10px);
        z-index: 2;

        // Плавное появление
        transition: transform 0.3s ease, opacity 0.3s ease;
        transform: translateY(100%); // Спрятана внизу за границей экрана
        opacity: 0;

        &.is-visible {
            transform: translateY(0); // Выплывает вверх
            opacity: 1;
        }

        &__btn {
            width: 100%;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
        }
    }
}