@use '../base/variables' as *;
@use '../base/mixins' as *;

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px 28px;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    border-radius: $radius-large;
    transition:
        background-color $transition-base,
        border-color $transition-base,
        color $transition-base;
    cursor: pointer;
    border: 1px solid transparent;
    gap: 10px;
    white-space: nowrap;
    height: 56px;
    // flex-grow: 1;

    @include tab-768 {
        padding: 10px 20px;
        height: 50px;
    }

    svg {
        fill: currentColor;
        flex-shrink: 0;
    }

    &--primary {
        background-color: $color-primary;
        color: $color-white;

        @include hover {
            background-color: $color-secondary;
            color: $color-white;
        }
    }

    &--secondary {
        background-color: $color-white;
        color: $color-dark;

        @include hover {
            background-color: $color-bg-light;
            color: $color-secondary;
        }
    }

    &--outline {
        background-color: transparent;
        border: 2px solid $color-border;
        color: $color-dark;

        @include hover {
            color: $color-secondary;
            border-color: $color-secondary;
        }
    }
}

.slider-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color $transition-base;
    transition: color $transition-base;
    transition: border-color $transition-base;

    svg {
        width: 14px;
        height: 14px;
    }

    &--outline {
        background-color: $color-white;
        color: #6C5752;
        border: 1px solid #A6918C;

        @include hover {
            border-color: $color-secondary;
            color: $color-secondary;
        }

    }

    &--fill {
        background-color: $color-primary;
        color: $color-white;

        @include hover {
            background-color: $color-secondary;
            color: $color-white;
        }
    }

}