@use '../base/variables' as *;
@use '../base/mixins' as *;

//Карточки классов

.card-class {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-decoration: none;
    color: inherit;
    background-color: $color-white;

    @include hover {
        .card-class__img img {
            transform: scale(1.05);
        }

        .card-class__title {
            color: $color-secondary;
        }

        .card-class__text {
            color: $color-secondary;
        }
    }

    &__img {
        position: relative;
        border-radius: $radius-large;
        overflow: hidden;
        aspect-ratio: 408 / 238;
        width: 100%;
        background-color: #f8f8f8;

        @include mobile {
            border-radius: $radius-medium;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform $transition-base;
        }

    }

    &__content {
        padding: 0 4px;
    }

    &__title {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 4px;
        color: $color-dark;
        transition: color $transition-base;

        @include mobile {
            font-size: 18px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.4;
        color: $color-gray;
        transition: color $transition-base;

        @include mobile {
            font-size: 14px;
        }
    }

    &__tag-wrapper {
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 2;
        display: flex;
        flex-direction: row;
        gap: 4px;
        z-index: 2;
    }

    &__tag {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 4px 10px;
        border-radius: $radius-large;
        font-size: 16px;
        pointer-events: none;
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.15);

        @include mobile {
            font-size: 14px;
            padding: 3px 8px;
        }

        &--personally {
            background-color: #A78BFB;
            color: $color-white;
        }

        &--special {
            background-color: #69C983;
            color: $color-white;
        }
    }
}

//--Карточки классов