@use '../base/variables' as *;
@use '../base/mixins' as *;


.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;

    @include mobile-lg {
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 0 $container-padding;
        margin: 0 (-$container-padding);
        scroll-padding: 0 $container-padding;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        // scrollbar-width: thin;
        // scrollbar-color: rgba($color-primary, 0.2) transparent;

        &::-webkit-scrollbar {
            display: none;
            // height: 4px;
            // background-color: transparent;
        }

        // &::-webkit-scrollbar-thumb {
        //     background-color: rgba($color-primary, 0.3);
        //     border-radius: 2px;
        // }

        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }

    &__item {
        @include tab-768 {
            scroll-snap-align: start;
            scroll-snap-stop: always;
        }
    }

    &__btn {
        padding: 16px 22px;
        border-radius: $radius-large;
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
        cursor: pointer;
        transition:
            border-color $transition-base,
            color $transition-base,
            transform $transition-base,
            background-color $transition-base;
        border: 1px solid $color-border;
        background-color: $color-white;
        color: $color-dark;
        white-space: nowrap;

        @include hover {
            border-color: $color-secondary;
            color: $color-secondary;
        }

        &:active {
            transform: scale(0.95);
        }


        &--active {
            border-color: $color-secondary;
            background-color: $color-secondary;
            color: $color-white;
            pointer-events: none;
        }

        @include tab-768 {
            padding: 12px 16px;
            font-size: 16px;
        }

        @include mobile {
            padding: 10px 14px;
            font-size: 16px;
        }
    }
}


@keyframes filterBlink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.3;
        // transform: scale(0.98);
    }

    // Немного уменьшим для эффекта нажатия
    100% {
        opacity: 1;
        // transform: scale(1);
    }
}

.js-filter-item.is-blinking {
    animation: filterBlink 0.2s ease-in-out;
}