@use '../base/variables' as *;
@use '../base/mixins' as *;

.gallery {
    overflow: hidden;
    margin-bottom: $margin-bottom-section;

    @include tab-1024 {
        margin-bottom: $margin-bottom-section-tab-1024;
    }

    @include tab-768 {
        margin-bottom: $margin-bottom-section-tab-768;
    }

    .swiper {
        overflow: visible;
    }

    &__item {
        width: 768px;
        height: auto;
        // transition: filter $transition-base;
        transition: opacity $transition-base;

        @include tab-768 {
            width: 100%;
        }

        &:not(.swiper-slide-active) {
            opacity: .8;
            // filter: brightness(1.2);
        }
    }

    &__img {
        width: auto;
        height: auto;
        min-height: 560px;
        object-fit: cover;
        border-radius: $radius-large;
        background-color: $color-gray;

        @include tab-768 {
            min-height: auto;
        }

        @include mobile {
            border-radius: $radius-medium;
        }
    }

}