@use '../base/variables' as *;
@use '../base/mixins' as *;


.modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: rgba(#1a1714, 0.85);
    backdrop-filter: blur(6px);
    align-items: center;
    justify-content: center;
    padding: 20px;

    &.is-open {
        display: flex;
    }

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        width: 100%;
        max-width: 420px; // Shorts — вертикальный формат
    }

    &__close {
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        cursor: pointer;
        background: $color-white;
        border-radius: 50%;
        padding: 12px;
        width: 50px;
        height: 50px;
        border: 2px solid rgba($color-secondary, 0.1);
        transition: background-color $transition-base;

        @include hover {
            background-color: rgba($color-white, 0.9);

            svg path {
                fill: $color-secondary;
            }
        }

        @include mobile-lg {
            padding: 10px;
            width: 36px;
            height: 36px;
        }

        svg {
            width: 16px;
            height: 16px;
            pointer-events: none;

            path {
                fill: $color-dark;
            }
        }
    }

    &__content {
        width: 100%;
        // Соотношение сторон для Shorts: 9:16
        aspect-ratio: 9 / 16;
        // max-height: 80svh;
        border-radius: $radius-large;
        overflow: hidden;
        background-color: #000;

        iframe {
            width: 100%;
            height: 100%;
            border: none;
            display: block;
        }
    }
}