@use '../base/variables' as *;
@use '../base/mixins' as *;

.slider-gallery {
    overflow: hidden;
    margin-bottom: $margin-bottom-section;

    @include tab-1024 {
        margin-bottom: $margin-bottom-section-tab-1024;
    }

    @include tab-768 {
        margin-bottom: $margin-bottom-section-tab-768;
    }

    .swiper {
        overflow: visible;
    }

    &__slider-wrapper {
        cursor: grab; // Открытая ладонь (готовность схватить)

        &:active {
            cursor: grabbing; // Кулак (в момент перетаскивания)
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        max-width: 768px;
        width: 100%;
        height: auto;
        transition: opacity $transition-base;


        &:not(.swiper-slide-active) {
            opacity: .8;
        }

    }

    &__img {
        width: auto;
        height: auto;
        min-height: 560px;
        object-fit: cover;
        border-radius: $radius-large;
        background-color: $color-gray;

        @include tab-768 {
            min-height: auto;
        }

        @include mobile {
            border-radius: $radius-medium;
        }
    }

}