@use '../base/variables' as *;
@use '../base/mixins' as *;

.card-teacher {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: $radius-large;
    border: 1px solid $color-border;
    height: 100%;
    background-color: $color-white;

    @include hover {
        .card-teacher__img img {
            transform: scale(1.05);
        }

        .card-teacher__title {
            color: $color-secondary;
        }

        .card-teacher__text {
            color: $color-secondary;
        }
    }

    &__img {
        position: relative;
        border-radius: $radius-large;
        overflow: hidden;
        height: 300px;
        background-color: #f8f8f8;

        @include mobile {
            border-radius: $radius-medium;
            height: auto;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform $transition-base;
        }

    }


    &__content {
        padding: 20px;
        background-color: $color-white;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        color: $color-dark;
        transition: color $transition-base;
    }

    &__text {
        font-size: 14px;
        line-height: 1.4;
        color: $color-gray;
        transition: color $transition-base;
    }

}