@use '../base/variables' as *;
@use '../base/mixins' as *;

.card-teacher {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: $radius-large;
    border: 1px solid $color-border;
    height: 100%;
    background-color: $color-white;

    @include hover {
        .card-teacher__img img {
            transform: scale(1.05);
        }

        .card-teacher__title {
            color: $color-secondary;
        }

        .card-teacher__text {
            color: $color-secondary;
        }
    }

    &__img {
        position: relative;
        border-radius: $radius-large;
        overflow: hidden;
        height: 300px;
        background-color: #f8f8f8;

        @include mobile {
            border-radius: $radius-medium;
            height: auto;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform $transition-base;
        }

    }

    &__badge-wrapper {
        position: absolute;
        bottom: 10px;
        left: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }

    &__badge {
        display: flex;
        align-items: center;
        padding: 4px 4px;
        border-radius: $radius-small;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.2;
        color: $color-dark;
        background-color: $color-white;
        box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);

        &::before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 16px;
            margin-right: 4px;
            border-radius: 3px;
            border: 1px solid $color-border;
            background-color: $color-bg-light;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &--en::before {
            background-image: url('../img/common/flag-en-24x16.svg');
        }

        &--ge::before {
            background-image: url('../img/common/flag-ge-24x16.svg');
        }
    }


    &__content {
        padding: 20px;
        background-color: $color-white;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        color: $color-dark;
        transition: color $transition-base;
    }

    &__text {
        font-size: 14px;
        line-height: 1.4;
        color: $color-gray;
        transition: color $transition-base;
    }

}