@use '../base/variables' as *;
@use '../base/mixins' as *;

.footer {

    &__top {
        display: flex;
        background-color: $color-primary;
        // background-color: #A6918C;

        &-inner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
            gap: 80px;

            padding: 70px 0;
            width: 100%;

            @include tab-768 {
                gap: 40px;
            }

            @include mobile-lg {
                gap: 20px;
            }

            @include mobile {
                flex-direction: column;
                padding: 60px 0;
                gap: 60px;
            }
        }

    }



    &__nav-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: clamp(20px, 7vw, 100px);
        row-gap: 10px;

        @include tab-768 {
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__nav-item {}

    &__nav-link {
        display: flex;
        color: $color-white;
        font-size: 16px;
        line-height: 1.4;
        font-weight: 500;
        transition: color $transition-base;
        white-space: nowrap;

        @include mobile-lg {}

        @include mobile {
            font-size: 18px;
            justify-content: center;
        }

        @include hover {
            color: rgba($color-white, 0.7);
        }
    }


    &__info {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 20px;


        @include mobile {
            width: 100%;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        &-item {
            display: flex;
            align-items: end;
            flex-direction: column;
            gap: 4px;

            @include mobile {
                align-items: center;
                order: 1;
            }


        }
    }

    &__phone {
        font-size: 20px;
        line-height: 1.4;
        font-weight: 700;
        color: $color-white;
        transition: color $transition-base;
        white-space: nowrap;

        @include mobile {
            font-size: 26px;
        }

        @include hover {
            color: rgba($color-white, 0.7);
        }
    }

    &__email {
        font-size: 16px;
        line-height: 1.4;
        font-weight: 400;
        color: $color-white;
        transition: color $transition-base;
        white-space: nowrap;

        @include mobile {
            font-size: 18px;
        }

        @include hover {
            color: rgba($color-white, 0.7);
        }
    }



    &__social-list {
        display: flex;
        gap: 10px;
    }

    &__social-link {
        background-color: $color-white;
        padding: 8px;
        border-radius: 50%;
        transition: background-color $transition-base;

        @include mobile {
            padding: 12px;
        }

        @include hover {
            background-color: rgba($color-white, 0.7);
        }

        svg {
            color: $color-primary;
            width: 16px;
            height: 16px;

            @include mobile {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__bottom {
        display: flex;
        background-color: $color-white;


        &-inner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
            gap: 40px;

            padding: 30px 0;
            width: 100%;

            @include tab-768 {
                flex-direction: column;
                gap: 20px;
            }
        }

    }

    &__legal {
        display: flex;
        justify-content: start;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 14px;
        line-height: 1.4;
        font-weight: 400;
        color: $color-dark;
        width: 50%;

        @include tab-768 {
            width: 100%;
        }
    }

    &__cookie {
        width: 50%;
        font-size: 13px;
        line-height: 1.4;
        font-weight: 400;
        color: $color-dark;

        @include tab-768 {
            width: 100%;
        }

        &-link {
            color: $color-dark;
            text-decoration: underline;
            transition: color $transition-base;

            @include hover {
                color: rgba($color-dark, 0.7);
            }
        }
    }



}