@use '../base/variables' as *;
@use '../base/mixins' as *;


.class-page-hero {

    &__wrapper {
        position: relative;
        border-radius: $radius-xlarge;
        overflow: hidden;
        color: $color-dark;
        background-size: cover;
        background-position: center;
        background-color: #E7E6E3;

        @include mobile-lg {
            border-radius: $radius-large;
        }

    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__inner {
        position: relative;
        display: flex;
        height: 544px;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;

        @include tab-1024 {
            height: 400px;
        }

        @include tab-768 {
            padding: 60px 0;
            justify-content: start;
            height: auto;
            min-height: 770px;
            align-items: center;
        }

        @include mobile-lg {
            padding: 40px 0;
            min-height: 570px;
        }

        @include mobile {
            min-height: 484px;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        width: 100%;
        min-width: 300px;
        max-width: 672px;
        align-items: start;
        display: flex;
        flex-direction: column;

        @include tab-1024 {
            max-width: 512px;
        }

        @include tab-768 {
            max-width: none;
            width: 100%;
            align-items: center;
            text-align: center;
        }
    }

    &__title {
        // font-size: 60px;
        font-size: clamp(32px, 4vw, 60px);
        margin-bottom: 20px;

        @include tab-1024 {
            font-size: 46px;
        }

        @include tab-768 {
            font-size: 40px;
        }

        @include mobile {
            font-size: 32px;
        }
    }

    &__subtitle {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 40px;
        opacity: 0.9;

        @include tab-1024 {
            font-size: 18px;
            margin-bottom: 30px;
        }

        @include mobile {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }

    &__btns {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;

        @include mobile-lg {
            gap: 10px;
        }
    }
}