@use '../base/variables' as *;
@use '../base/mixins' as *;

.certificate-hero {
    margin-bottom: $margin-bottom-section;

    @include tab-1024 {
        margin-bottom: $margin-bottom-section-tab-1024;
    }

    @include tab-768 {
        margin-bottom: $margin-bottom-section-tab-768;
    }

    &__wrapper {
        position: relative;
        border-radius: $radius-xlarge;
        overflow: hidden;
        color: $color-white;
        background-size: cover;
        background-position: center;
        background-color: $color-gray;

        @include mobile-lg {
            border-radius: $radius-large;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(#2A2625, 0.7);
            z-index: 1;
            pointer-events: none;
            border-radius: $radius-xlarge;

            @include mobile-lg {
                border-radius: $radius-large;
            }
        }

    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    &__inner {
        position: relative;
        display: flex;
        height: 400px;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;

        @include tab-768 {
            flex-direction: column;
            height: auto;
        }
    }

    &__inner-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        width: auto;
        height: auto;
    }

    &__content {
        position: relative;
        z-index: 2;
        width: 100%;
        min-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 20px 0;

        @include mobile-lg {
            padding: 20px;
        }

        @include tab-768 {
            width: 80%;
            align-items: center;
            padding-top: 60px;
            text-align: center;
        }

        @include mobile-lg {
            width: 100%;
        }
    }

    &__title {
        // font-size: 60px;
        font-size: clamp(32px, 3vw, 60px);
        margin-bottom: 20px;

        @include tab-1024 {
            font-size: 46px;
        }

        @include tab-768 {
            font-size: 40px;
        }

        @include mobile {
            font-size: 32px;
        }
    }

    &__subtitle {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 40px;
        opacity: 0.9;

        @include tab-1024 {
            font-size: 18px;
            margin-bottom: 30px;
        }

        @include mobile {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }

    &__img-wrapper {
        display: flex;
        align-items: end;
        justify-content: center;
        z-index: 2;
        flex: 0 0 auto;

        transform: translateX(50px);
        margin-left: -50px;

        @include tab-768 {
            transform: translateX(0);
            margin-left: 0;
        }


        img {
            width: auto;
            height: auto;
            max-width: 100%;
            object-fit: contain;
        }
    }

}

.certificate-info {
    margin-bottom: $margin-bottom-section;

    @include tab-1024 {
        margin-bottom: $margin-bottom-section-tab-1024;
    }

    @include tab-768 {
        margin-bottom: $margin-bottom-section-tab-768;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include tab-1024 {
            gap: 30px;
        }

        @include mobile-lg {
            gap: 20px;
        }

    }

    &__title {
        text-align: center;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;


        @include tab-768 {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile-lg {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        padding: 30px;
        background-color: $color-bg-light;
        border-radius: $radius-large;

        @include mobile-lg {
            padding: 20px;
        }
    }

    &__item-icon {
        width: 32px;
        height: 32px;
        // flex-shrink: 0;
        color: $color-secondary;
    }

    &__item-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__item-title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.4;
        color: $color-dark;
        text-align: center;
    }

    &__item-text {
        font-size: 14px;
        line-height: 1.4;
        color: $color-gray;
        text-align: center;
    }

}

.certificate-rules {
    margin-bottom: $margin-bottom-section;

    @include tab-1024 {
        margin-bottom: $margin-bottom-section-tab-1024;
    }

    @include tab-768 {
        margin-bottom: $margin-bottom-section-tab-768;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include tab-1024 {
            gap: 30px;
        }

        @include mobile-lg {
            gap: 20px;
        }

    }

    &__title {
        text-align: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        border-radius: $radius-large;
        background-color: $color-white;
        border: 1px solid $color-border;
    }

    &__item {
        counter-increment: rules-counter; // Увеличиваем счетчик на +1  
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 30px;
        border-bottom: 1px solid $color-border;

        &:last-child {
            border-bottom: none;
        }

        @include tab-768 {
            padding: 20px;
        }

        @include mobile {
            padding: 15px;
        }
    }

    &__item-number {
        &::before {
            content: counter(rules-counter);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 30px;
        height: 30px;
        background: $color-accent; // Твой цвет #A68B7C
        color: $color-white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        padding-top: 1px;
        margin-top: -2px;

        @include mobile {
            font-size: 15px;
            flex-basis: 28px;
            height: 28px;
        }
    }

    &__item-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.4;

        @include tab-768 {
            font-size: 18px;
        }

        @include mobile {
            font-size: 16px;
        }
    }


}