@use '../base/variables' as *;
@use '../base/mixins' as *;

.page-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}