@use '../base/variables' as *;
@use '../base/mixins' as *;


.pricing-header__subtitle {
    text-align: center;
}

.prices-intro {
    margin-bottom: 20px;


    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        @include mobile {
            gap: 20px;
        }
    }

    &__title {
        text-align: center;
    }

}

.prices-nav {
    position: sticky;
    z-index: 2;
    top: calc($header-height - 2px);
    padding: 10px 0;
    margin-bottom: 40px;
    background-color: rgba($color-white, 0.95);
    backdrop-filter: blur(8px);
    overflow-x: hidden;

    @include mobile-lg {
        top: calc($header-height-mobile - 2px);
    }
}

.prices-section-inner {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include tab-768 {
        gap: 30px;
    }

    @include mobile-lg {
        gap: 20px;
    }
}

.prices-starter {
    scroll-margin-top: 170px;
    background-color: $color-bg-light;

    @include mobile-lg {
        scroll-margin-top: 130px;
    }

    padding: 90px 0;

    @include tab-768 {
        padding: 60px 0;
    }

    @include mobile {
        padding: 30px 0;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;

        @include tab-1024 {
            grid-template-columns: repeat(3, 1fr);
        }

        @include tab-768 {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile-lg {
            gap: 6px;
        }

    }

    //баннер
    &__banner {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: $color-accent;
        border-radius: $radius-large;
        padding: 30px;
        background-image: url(../img/content/banners/banner-start-price.webp);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-position: right;
        height: 100%;

        @include mobile-lg {
            padding: 14px;
            background-position: right bottom;
            background-size: auto 150px;
        }

        @include mobile {
            background-size: auto 120px;
        }
    }

    &__banner-title {
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2;
        color: $color-white;

        @include mobile-lg {
            font-size: 20px;
        }
    }

    &__banner-title-accent {
        display: block;
        font-size: 60px;
        font-weight: 700;
        line-height: 0.9;

        @include mobile-lg {
            font-size: 40px;
        }
    }

    &__banner-description {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.4;
        color: $color-white;

        @include mobile-lg {
            font-size: 13px;
        }
    }



}

.pricing-groups {
    scroll-margin-top: 170px;
    background-color: $color-bg-main;

    @include mobile-lg {
        scroll-margin-top: 130px;
    }

    padding: $margin-bottom-section 0;

    @include tab-1024 {
        padding: $margin-bottom-section-tab-1024 0;
    }

    @include tab-768 {
        padding: $margin-bottom-section-tab-768 0;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;


        @include tab-768 {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile-lg {
            gap: 6px;
        }
    }

    &__banner {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        gap: 10px;
        background-color: $color-white;
        border-radius: $radius-large;
        padding: 0px 40px;

        @include tab-1024 {
            padding: 0 30px;
        }

        @include tab-768 {
            grid-template-columns: 1fr;
            padding: 30px 30px 0 30px;
            justify-items: center;
        }

        @include mobile {
            padding: 20px 20px 0 20px;
        }

        &-title {
            font-size: 30px;
            font-weight: 500;
            line-height: 1.2;
            text-align: left;
            margin: 20px 0;

            @include tab-1024 {
                font-size: 26px;
            }

            @include tab-768 {
                font-size: 20px;
                text-align: center;
                margin: 0;
            }
        }

        &-img {
            align-self: self-end;
            width: auto;
            height: auto;
            object-fit: cover;
            margin-top: -20px;

            @include tab-768 {
                order: 1;
                margin-top: 0;
            }
        }

        &-description {
            margin: 20px 0;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.4;
            text-align: right;

            @include tab-1024 {
                font-size: 16px;
                margin: 0;
            }

            @include tab-768 {
                font-size: 16px;
                text-align: center;
                margin: 0;
            }

            @include mobile-lg {
                font-size: 14px;
            }
        }
    }

}

.pricing-private {
    scroll-margin-top: 170px;
    background-color: $color-white;

    @include mobile-lg {
        scroll-margin-top: 130px;
    }

    padding: $margin-bottom-section 0;

    @include tab-1024 {
        padding: $margin-bottom-section-tab-1024 0;
    }

    @include tab-768 {
        padding: $margin-bottom-section-tab-768 0;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;


        @include tab-768 {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile-lg {
            gap: 6px;
        }
    }

}

.pricing-special {
    scroll-margin-top: 170px;
    background-color: #F2F6EE;

    @include mobile-lg {
        scroll-margin-top: 130px;
    }

    padding: $margin-bottom-section 0;

    @include tab-1024 {
        padding: $margin-bottom-section-tab-1024 0;
    }

    @include tab-768 {
        padding: $margin-bottom-section-tab-768 0;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;


        @include tab-768 {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile-lg {
            gap: 6px;
        }
    }

}

.pricing-unlimited {
    scroll-margin-top: 170px;
    background-color: $color-bg-light;

    @include mobile-lg {
        scroll-margin-top: 130px;
    }

    padding: $margin-bottom-section 0;

    @include tab-1024 {
        padding: $margin-bottom-section-tab-1024 0;
    }

    @include tab-768 {
        padding: $margin-bottom-section-tab-768 0;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;


        @include tab-768 {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile-lg {
            gap: 6px;
        }
    }

}

.pricing-banners {
    scroll-margin-top: 80px;
    background-color: $color-white;
    padding: $margin-bottom-section 0;

    @include tab-1024 {
        padding: $margin-bottom-section-tab-1024 0;
    }

    @include tab-768 {
        padding: $margin-bottom-section-tab-768 0;
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;

        @include mobile-lg {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
    }

}