@use '../base/variables' as *;
@use '../base/mixins' as *;


.pricing-header__subtitle {
    text-align: center;
}

.prices-intro {
    overflow: hidden;
    margin-bottom: 20px;


    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        @include mobile {
            gap: 20px;
        }
    }

    &__title {
        text-align: center;
    }

    &__nav {
        width: 100%;
        margin-bottom: 40px;

        @include mobile {
            margin-bottom: 4px;
        }
    }

}

.prices-starter {
    background-color: $color-bg-light;
    padding: 90px 0;

    @include tab-768 {
        padding: 60px 0;
    }

    @include mobile {
        padding: 30px 0;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;

        @include tab-1024 {
            grid-template-columns: repeat(3, 1fr);
        }

        @include tab-768 {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile-lg {
            gap: 6px;
        }

    }

    //баннер
    &__banner {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: $color-accent;
        border-radius: $radius-large;
        padding: 30px;
        background-image: url(../img/content/banners/banner-start-price.webp);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-position: right;
        height: 100%;

        @include mobile-lg {
            padding: 14px;
            background-position: right bottom;
            background-size: auto 150px;
        }

        @include mobile {
            background-size: auto 120px;
        }
    }

    &__banner-title {
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2;
        color: $color-white;

        @include mobile-lg {
            font-size: 20px;
        }
    }

    &__banner-title-accent {
        display: block;
        font-size: 60px;
        font-weight: 700;
        line-height: 0.9;

        @include mobile-lg {
            font-size: 40px;
        }
    }

    &__banner-description {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.4;
        color: $color-white;

        @include mobile-lg {
            font-size: 13px;
        }
    }



}