@use '../base/variables' as *;
@use '../base/mixins' as *;

.teachers {
    background-color: $color-bg-light;

    padding-bottom: $margin-bottom-section;
    margin-bottom: $margin-bottom-section;


    @include tab-1024 {
        padding: $margin-bottom-section-tab-1024 0;
        margin-bottom: $margin-bottom-section-tab-1024;
    }

    @include tab-768 {
        padding: $margin-bottom-section-tab-768 0;
        margin-bottom: $margin-bottom-section-tab-768;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__subtitle {
        text-align: center;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;

        @include tab-1024 {
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

        @include tab-768 {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        @include mobile-lg {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    &__item {
        max-width: 300px;

        @include mobile-lg {
            max-width: 400px;
        }
    }

    &__item-icon {
        width: 32px;
        height: 32px;
        color: $color-secondary;

        svg {
            width: 32px;
            height: 32px;
        }
    }

    &__item-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }


    &__item-title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.4;
    }

    &__item-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        text-align: center;
    }
}